<!DOCTYPE html>
<html>
<head>
  <title>Listado de Productos</title>
</head>
<body>
  <div class="container">
    <h1>Listado de Productos</h1>
    <div class="actionsC">
      <%= link_to "Crear Producto", new_product_path, class: "create" %> <!-- (ERB - Embedded Ruby)  -->

    </div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td class="actions">
              <%= link_to "Editar", edit_product_path(product), class: "edit" %>
              <%= link_to "Eliminar", product_path(product), method: :delete, data: { confirm: "¿Deseas eliminar este artículo?" }, class: "delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="toast-container" class="toast-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/toastify@1.11.0/dist/toastify.min.js"></script>
</body>
</html>
